/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;1,300;1,500&family=Roboto:ital,wght@0,100;1,100;1,400;1,500&display=swap');

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* .navbar{
  position:fixed;
  width: 100%;
  z-index: 1;
  top:0;
}

.py-5 bg-secondary{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
} */